nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#333;  
    padding:0px;
    color:white;


}

.nav-b{
    color:white;
    text-decoration:none;
    margin:0 ;
    font-size:18px;
}